/* Simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set 1rem = 10px (10rem / 16px = .625%) */
html {
  font-size: 62.5%;
}


/* Variables */
:root {
  --primary-blue: rgb(41, 105, 243);
  --secondary-blue: rgb(93, 142, 248);
  --primary-green: rgb(4, 134, 0);
  --primary-red: rgb(230, 14, 14);
  --primary-white: rgb(255, 255, 255);
  --primary-shadow: rgba(0,0,0,.2);
}


/* Elements */
body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

h1,
h3,
p {
  letter-spacing: .08rem;
}

a:link,
a:visited {
  text-decoration: none; 
}


/* Classes */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3.5rem auto;
  max-width: 95%;
}

.display-section {
  padding: 1rem;
  margin: 4.5rem 1rem 3rem;
  max-width: 70vw;
}

.display-quote {
  font-size: 3.5rem;
  color: var(--primary-blue);
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 1.5rem;
}

.display-author {
  font-size: 1.7rem;
  color: var(--secondary-blue);
  font-weight: 400;
}

.btn {
  font-size: 1.5rem;
  color: var(--primary-blue);
  letter-spacing: .1rem;
  background-color: transparent;
  border: .05rem solid var(--primary-blue);
  border-radius: .6rem;
  padding: 1.2rem 1.6rem;
  margin: .8rem .4rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0rem .25rem .2rem rgba(0,0,0,.2);
  transition: all ease-out 0.2s;
}

.btn:hover {
  color: var(--primary-white);
  background-color: var(--primary-blue);
  border: .05rem solid var(--primary-blue);
  transform: translateY(-.27rem);
  box-shadow: 0 1.2rem 1.6rem rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.3);
}

.link {
  display: inline-block;
  color: rgb(44, 44, 44);
  background-color:  transparent;
  border: .05rem solid rgb(44, 44, 44);
}

.link:hover {
  color: var(--primary-white);
  background-color:  rgb(44, 44, 44);
  border: .05rem solid rgb(44, 44, 44);
}

.fav-add {
  color: var(--primary-green);
  border: .05rem solid var(--primary-green);
}

.fav-add:hover {
  color: var(--primary-white);
  background-color:  var(--primary-green);
  border: .05rem solid var(--primary-green);
}

.fav-clear,
.fav-remove {
  color: var(--primary-red);
  border: .05rem solid var(--primary-red);
}

.fav-clear:hover,
.fav-remove:hover {
  color: var(--primary-white);
  background-color:  var(--primary-red);
  border: .05rem solid var(--primary-red);
}

.favorites-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 1rem 1rem;
  font-size: 1.6rem;
}

.fav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  box-shadow: 0rem .25rem .2rem rgba(0,0,0,.4);
  text-align: center;
  border: .1rem solid rgb(230, 230, 230);
  border-radius: .5rem;
  width: 31%;
  margin: 1rem .7rem;
  padding: 3rem 1.2rem 1rem;
}

.fav-text {
  font-size: 1.6rem;
  overflow: auto;
  color: rgb(82, 82, 82);
}

.fav-author {
  display: block;
  color: rgb(145, 145, 145);
  padding: 1rem 0 2rem;
}

.fav-remove {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  width: 90%;
}

.btn .fav-remove:hover {
  color: var(--primary-white);
  background-color: var(--primary-red);
  border: .1rem solid var(--primary-red);
  transform: none;
}

.btn .fav-remove:active {
  transform: none;
}

.alert-msg {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--primary-white);
  padding: 1.5rem;
}

.alert.error {
  background-color: rgba(255, 0, 0, 0.8);
}

.alert.success {
  background-color:  rgba(4, 134, 0, 0.8);
}