/* Simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set 1rem = 10px (10rem / 16px = .625%) */
html {
  font-size: 62.5%;
}


/* Elements */
body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background: #FF416C;  /* fallback for old browsers */
  background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

h1,
h3,
p {
  letter-spacing: .08rem;
}

a:link,
a:visited {
  text-decoration: none; 
}


/* Classes */
.container {
 text-align: center;
 margin: 3.5rem auto;
 max-width: 80%;
}

.display-section {
  padding: 2rem;
  margin: 4rem 3rem 2rem;
  max-width: 70vw;
}

.display-quote {
  font-size: 3.2rem;
  color: rgb(25, 28, 230);
  font-weight: 500;
  /* text-shadow: -.2rem .2rem rgb(25, 28, 230), -.1rem .2rem rgb(25, 28, 230); */
  line-height: 140%;
  margin-bottom: 1.5rem;
}

.display-author {
  font-size: 1.7rem;
  color: rgb(25, 28, 230);
  font-weight: 400;
}

.btn {
  font-size: 1.4rem;
  color: rgb(25, 28, 230);
  letter-spacing: .1rem;
  background-color: transparent;
  border: .05rem solid rgb(25, 28, 230);
  border-radius: .6rem;
  padding: .9rem 1.5rem;
  margin: .8rem .4rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0rem .25rem .2rem rgba(0,0,0,.2);
  transition: all ease-out 0.2s;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 28, 230);
  border: .05rem solid rgb(25, 28, 230);
  transform: translateY(-.27rem);
  box-shadow: 0 1.2rem 1.6rem rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.3);
}

.link {
  display: inline-block;
  color: rgb(44, 44, 44);
  background-color:  transparent;
  border: .05rem solid rgb(44, 44, 44);
}

.link:hover {
  color: rgb(255, 255, 255);
  background-color:  rgb(44, 44, 44);
  border: .05rem solid rgb(44, 44, 44);
}

.fav-add {
  color: rgb(4, 134, 0);
  border: .05rem solid rgb(4, 134, 0);
}

.fav-add:hover {
  color: rgb(255, 255, 255);
  background-color:  rgb(4, 134, 0);
  border: .05rem solid rgb(4, 134, 0);
}

.fav-clear {
  color: rgb(230, 14, 14);
  border: .05rem solid rgb(230, 14, 14);
}

.fav-clear:hover {
  color: rgb(255, 255, 255);
  background-color:  rgb(230, 14, 14);
  border: .05rem solid rgb(230, 14, 14);
}

.favorites-section {
  margin-top: 4rem;
  font-size: 1.6rem;
}

.fav {
  margin: .6rem;
  padding: .5rem;
}

.fav-remove {
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
  color: rgb(230, 14, 14);
  background-color: transparent;
  border: .1rem solid rgb(230, 14, 14);
  padding: .5rem .85rem;
  margin: 0 1rem;
  cursor: pointer;
}

.fav-remove:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 14, 14);
  border: .1rem solid rgb(230, 14, 14);
}

.alert-msg {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  padding: .7rem;
}

.alert.error {
  background-color: rgb(230, 14, 14);
}

.alert.success {
  background-color:  rgb(4, 134, 0);
}
